<p>Put something about looking forward to hearing form people, or other encouragement to get people to send some info along</p>

<form id="contact_form" method="post" action="/contact">
	
	<h5>name</h5>
		<input id="contact_name" name="contact[name]" type="text" />

		<h5>email</h5>
		<input id="contact_email" name="contact[email]" type="text" />

		<h5>website (optional)</h5>
		<input type="text" name="contact[website]" id="contact_website" />
		<h5>message</h5>
		<textarea name="contact[message]" rows="8" cols="40"></textarea>
		<br />
		<input type="submit" name="commit" value="Submit" id="contact_submit" />
</form>
