<h2>We are passionate about the Web.</h2>
<br/>
<p>
	Have a great idea for a website?  <b>We can help you realize your concept.</b>  Does your logo need a revamp?  <b>Brand identity is our middle name.</b>
	</p>
	<br/>
	<h3>Simplicity is Everything</h3>
	
	<p>
		In the age of micro-blogging and instant gratification, cluttered designs and an unorganized layout will let your message get lost in the shuffle.  <b>Leave the unnecessary at the door.</b>
	</p>
	<Br />
	<h3>Content is King</h3>
	<p>
		Visitors spend an average of <b>four seconds per page.</b>  We create eye-catching designs that <b>focus on what matters most.</b>
	</p>